<% include header %>
 <!-- Main jumbotron for a primary marketing message or call to action -->
 <div class="jumbotron">
    <div class="container">
      <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center">
              <div class="profile-photo">
                  <img src="./img/profile.png" alt="" class="img-circle">
              </div>
              <h1>About me</h1>
              <p>I am a full stack developer with five and half years experience.</p>
              <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
          </div>
      </div>
    </div>
  </div>
  
<% include footer %>