<% include header %>

<div class="header">
        <h1>Hotel Stay Calculator</h1>
      </div>
    
      <div class="container" id="app">
        <div class="row">
          <br>
          <div class="panel panel-info">
            <div class="panel-heading">
              <h1 class="calculator-heading">
                $120
                <span class="pull-right per">
                  per Room<br> per Night
                </span>
              </h1>
            </div>
            <div class="panel-body" id="sandbox-container">
                <div class="row input-daterange">
                    <div class="col-md-6">
                        <fieldset class="form-group">
                        <label for="subject" class="control-label">Start Date</label>
                        <input type="text" class="form-control start-date" id="name" placeholder="Select start date">
                    </fieldset>
                    </div>
                    <div class="col-md-6">
                        <fieldset class="form-group">
                        <label for="subject" class="control-label">End Date Date</label>
                        <input type="text" class="form-control end-date" id="name" placeholder="Select end date">
                    </fieldset>
                    </div>
                    <div class="col-md-6">
                        <fieldset class="form-group">
                        <label for="subject" class="control-label">No.of Guests per each room</label>
                        <select name="guests" id="" class="form-control">
                          <option value="1">One</option>
                          <option value="1">Two</option>
                          <option value="1">Three</option>
                        </select>
                    </fieldset>
                    </div>
                    <div class="col-md-6">
                        <fieldset class="form-group">
                            <label for="subject" class="control-label">No.of Rooms</label>
                            <select name="rooms" id="" class="rooms form-control">
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                            </select>
                        </fieldset>
                    </div>
    
                    <div class="text-center">
                        <button class="btn btn-info btn-lg calculate">Calculate</button>
                    </div>
                </div><!-- /row -->
    
          </div>
        </div><!-- /panel -->
    
        <div class="alert alert-success alert-dismissible fade in" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
          </button>
          You are going need <strong class="rooms-selected">1</strong> room(s) for <strong class="days-selected">0</strong> days. Total Price is 
          <h1 class="final-price">$0</h1>
        </div>
    
      </div>
    </div>
<% include footer %>