<% include header %>
<div class="header">
    <h1>CONTACT US</h1>
  </div>

  <div class="container">
    <div class="row">
      <div class="panel">
        <div class="panel-header">
          We would be glad to help. Please don't hesitate to contact us!
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-3 address-block">
              <h4>Visit us at:</h4>
              <address>
              Northwest Missouri State University</b>
              800 University Dr,<br>
              Maryville, <br>
              MO 64468, USA
            </address>
            <div class="social-links-list social-block">
              <h4>Be Social:</h4>
              <ul class="list-inline list-unstyled social-links-list">
                <li>
                  <a target="_blank" href="http://facebook.com" class="btn btn-facebook"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                  <a target="_blank" href="http://twitter.com" class="btn btn-twitter"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                  <a target="_blank" href="http://dribbble.com" class="btn btn-dribbble"><i class="fa fa-dribbble"></i></a>
                </li>
                <li>
                  <a target="_blank" href="http://youtube.com" class="btn btn-youtube"><i class="fa fa-youtube"></i></a>
                </li>
                <li>
                  <a target="_blank" href="http://instagram.com" class="btn btn-instagram"><i class="fa fa-instagram"></i></a>
                </li>
                <li>
                  <a target="_blank" href="http://linkedin.com" class="btn btn-linkedin"><i class="fa fa-linkedin"></i></a>
                </li>

              </ul>
            </div>
          </div>
          <div class="col-md-9 contact-form">
            <form method="post" action="/contact">
              <div class="row">
                <div class="col-md-6">
                  <fieldset class="form-group">
                    <label for="name" class="control-label">Name</label>
                    <input type="name" name="name" class="form-control" id="name" placeholder="Enter your name">
                  </fieldset>
                </div>
                <div class="col-md-6">
                  <fieldset class="form-group">
                    <label for="email" class="control-label">Email Address</label>
                    <input type="email" name="email" class="form-control" id="email" placeholder="Enter your email address">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                  </fieldset>
                </div>
              </div>


              <fieldset class="form-group">
                <label for="subject" class="control-label">Subject</label>
                <input type="text" name="subject" class="form-control" id="name" placeholder="Enter the main subject">
                <small id="emailHelp" class="form-text text-muted">Mention the main point</small>
              </fieldset>

              <fieldset class="form-group">
                <label for="message" class="control-label">message</label>
                <textarea name="message" id="message" cols="30" rows="5" placeholder="Enter your message" class="form-control"></textarea>
              </fieldset>

              <button type="submit" class="btn btn-success">Submit</button>
            </form>
          </div>
        </div><!-- /row -->

      </div>
    </div><!-- /panel -->



  </div>
</div>
<% include footer %>