<%- include('header', {active: 'guestbook'}); %>
    <div class="container">
        <div class="text-center">
            <a class="btn btn-success btn-lg" href="/new-entry">Add New Entry!</a>
        </div>    
        <br>
            <% if (entries.length) { %>
            <% entries.forEach(function(entry) { %>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">
                        <%= entry.title %>
                        <div class="text-muted pull-right">
                            <%= entry.published %>
                        </div>
                    </h2>
                </div>
                <div class="panel-body">
                    <p class="card-text"><%= entry.content %></p>
                </div>
            </div>
            <% }) %>
        <% } else { %>
            <div class="text-center">
                <h2>No entries!</h2>
                <a class="btn btn-success btn-lg" href="/new-entry">Add one!</a>
            </div>
        <% } %>
    </div>
<% include footer %>