<% include header %>
 <!-- Main jumbotron for a primary marketing message or call to action -->
 <div class="jumbotron">
    <div class="container">
      <div class="row">
          <div class="col-md-6">
              <div class="profile-photo">
                  <img src="./img/profile.png" alt="" class="img-circle">
              </div>
              <h1>Vijay Tupakula</h1>
              <p>I am a full stack developer with five and half years experience.</p>
              <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
          </div>
          <div class="col-md-6">
              <iframe width="100%" height="315" src="https://www.youtube.com/embed/z32VQgObAr4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>
      </div>
    </div>
  </div>
  <div class="container">
    <!-- Example row of columns -->
    <div class="content">
         <div class="left">
              <section>
                  <header class="section-header">
                    <h4>Currently</h4>
                  </header>
                  <p>
                      I am a new member of the <strong>Spring 2018 batch</strong> enrolled for Masters in <strong>Applied Computer Science</strong>
                  </p>
              </section>
              
              <section id="past-section">
                  <header class="section-header">
                    <h4>My Background</h4>
                  </header>
                  <p>
                      I am from southeastern part of <strong>India</strong> and my home town is Rajahmundry. I have completed my Bachelors from Rajamahendhri Institute of Engineering and Technology on Computer Science and Engineering. I have a great interest in coding and <strong>started working with HTML 10 years ago</strong>, from that day since today I have learned so many technologies and developed many custom applications using the latest web technologies. I have founded a company right after my under graduation and then improved my skills as a <strong>full stack developer</strong>. I can work on <strong>20+ technologies</strong> that includes programming languages, frameworks, design tools, etc. so <strong>I am an entrepreneur</strong> and full stack developer for 5 years. When it comes to hobbies, I watch Hollywood movies and Television series, play ps4. 
                  </p>
              </section>
              
              <section id="future-section">
                  <header class="section-header">
                    <h4>My Plans</h4>
                  </header>
                  <p>
                      I am really glad to be part of the Masters program at Northwest Missouri State University, I would love to interact with professors and learn from them. I will continue to be a full stack developer and maintain my skills by learning the fast changing web technologies on the market. 
                  </p>
              </section>
         </div>
         <div class="right">
          <aside>
              <header class="aside-header">
                <h4>Technologies I know</h4>
              </header>
                  <div class="technology-list table-responsive">
                      <table class="table">
                          <tr>
                              <td>
                                  <strong> Operating Systems: </strong>
                              </td>
                              <td>  Mac OS, Linux, Unix, Windows</td>
                          </tr>
                          <tr>
                              <td>
                                  <strong> Programming Languages: </strong>
                              </td>
                              <td> C, C++, PHP</td>
                          </tr>
                          <tr>
                              <td>
                                  <strong> Frameworks: </strong>
                              </td>
                              <td> Laravel, Codeigniter, Vue JS, Angular JS, Node JS, React JS</td>
                          </tr>
                          <tr>
                              <td>
                                  <strong> Development Tools: </strong>
                              </td>
                              <td> Git, Docker, Webpack, Gulp, Grunt, Sublime, Visual Code, PHP Storm</td>
                          </tr>
                          <tr>
                              <td>
                                  <strong> Database : </strong>
                              </td>
                              <td>  MySQL</td>
                          </tr>
                          <tr>
                              <td>
                                  <strong> Web Servers: </strong>
                              </td>
                              <td>  Apache, Nginx</td>
                          </tr>
                          <tr>
                              <td>
                                  <strong> Designing Languages: </strong>
                              </td>
                              <td>  HTML5, CSS3, Bootstrap, LESS</td>
                          </tr>
                          <tr>
                              <td>
                                  <strong> Designing Tools: </strong>
                              </td>
                              <td>  Photoshop, Sketch, Illustrator</td>
                          </tr>
                          <tr>
                              <td>
                                  <strong> Scripting Languages: </strong>
                              </td>
                              <td>  ES6 (javascript)</td>
                          </tr>
                      </table>
                  </div>
              </aside>
          
          <aside>
              <header class="aside-header">
                <h4>Contact Information</h4>
              </header>
                  <div class="technology-list">
                      <table class="table">
                          <tr>
                              <td>
                                  <strong> Email: </strong>
                              </td>
                              <td>  hello@vijaykumar.me</td>
                          </tr>
                          <tr>
                              <td>
                                  <strong> Phone </strong>
                              </td>
                              <td>(646) 441 7873</td>
                          </tr>
                      </table>
                  </div>
              </aside>
         </div>
      </div>

</div> <!-- /container -->        

<% include footer %>