<% include header %>
  <!-- the qunit div displays testing results -->
  <div id="qunit"></div>
  <!-- the qunit-fixture div is for tests affecting the DOM -->
  <div id="qunit-fixture"></div>
  <br/>
  <p>Reminder: Include all dependencies in the html file (in order). </p>
  <!-- References:  https://www.sitepoint.com/getting-started-qunit/ -->
  <script src="https://code.jquery.com/qunit/qunit-2.0.1.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
  <script src="../js/vendor/bootstrap-datepicker.min.js"></script>
  <script src="../js/main.js"></script>
  <script src="../js/test.js"></script>
 
<% include footer %>